<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-auto">
      <img src="../../assets/img/asir.jpg" alt="frutal" class="img-fluid">
      <div class="d-flex justify-content-center">
      <a class="btn btn-warning btn-md m-2" routerLink="hierbabuena">BD</a>
      <a class="btn btn-success btn-md m-2" routerLink="tomillo">FH</a>
      <a class="btn btn-danger btn-md m-2" routerLink="lavanda">LM</a>
      <a class="btn btn-info btn-md m-2" routerLink="melisa">SOR</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
