<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-auto">
      <img src="../../assets/img/dam.jpg" alt="frutal" class="img-fluid">
      <div class="d-flex justify-content-center">
      <a class="btn btn-warning btn-md m-2" routerLink="pera">BD</a>
      <a class="btn btn-success btn-md m-2" routerLink="manzana">DI</a>
      <a class="btn btn-danger btn-md m-2" routerLink="platano">PMMS</a>
      <a class="btn btn-info btn-md m-2" routerLink="naranja">PSP</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
