input {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}
span {
  font-size: 20px;
}
button {
  padding: 5px 15px;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  color: #333;
}

p {
  font-size: 20px;
}

#huerto {
  background-color: lightslategray;
}
#hortaliza {
  background-color:bisque;
  font-size: 20px;
}
#frutal {
  background-color:violet;
  font-size: 20px;
}
h2 {
  color: black;
  font-size: 25px;
}
