<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-auto">
      <img src="../../assets/img/daw.png" alt="frutal" class="img-fluid">
      <div class="d-flex justify-content-center">
      <a class="btn btn-warning btn-md m-2" routerLink="patata">Despliegue</a>
      <a class="btn btn-success btn-md m-2" routerLink="pimiento">DIW</a>
      <a class="btn btn-danger btn-md m-2" routerLink="tomate">DWEC</a>
      <a class="btn btn-info btn-md m-2" routerLink="lechuga">DWS</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
