body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }
  
  .app {
    font-size: 26px;
    text-align: center;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
  }
  
  .estilo_contador {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    color: #4caf50;
  }
  
  .estilo_incremento {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .estilo_decremento {
    background-color: #844caf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .estilo_generar {
    background-color: #844caf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .estilo_incremento:hover {
    background-color: #45a049;
  }
  
  .estilo_decremento:hover{
    background-color: #16536b;
  }
  .estilo_generar:hover{
    background-color: #16536b;
  }
  .contador-display {
    font-size: 26px;
    font-weight: bold;
    margin: 20px;
    color: #45a049;
  }
  
  footer {
    font-size: 26px;
    text-align: center;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }
  header {
    text-align: center;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
  }
  .app-titulo {
    font-size: 7px;
  }